# Gitignore raiz
PortalTreinamentos/node_modules/
PortalTreinamentos/dist/
PortalTreinamentos/backend/data/*.sqlite
PortalTreinamentos/backend/uploads/
PortalTreinamentos/.env
PortalTreinamentos/.env.local
.vscode/
.idea/
*.log
*.pyc
__pycache__/
